<a href="https://colab.research.google.com/github/brockmanmatt/gdelt_news_exploration/blob/master/LabelTweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Status:

|Section |Status|ToDo|AdditionalRefs|
|--------|-----|---|---|
|--Tweets--||||
|Load Tweets|Done||
|Create Digraphs|Done|Identify Variants
|Other NLP||||
|--Articles--|
|Load Articles|Done|||
|Extract Labels|Done|||
|Create Custom Labels||||
|--Combined Sets--||||
|Check People Overlap|Done|||
|Check Location Overlap||||

##### This is for colab; it connects the colab to Google drive. The articles and GDELT data are already on my drive

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd
import datetime as dt
import pytz
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from collections import Counter

In [0]:
cd /content/gdrive/My Drive/TrumpTweets

/content/gdrive/My Drive/TrumpTweets

##### Acknowledging at the start, this is going to not catch important issues; e.g. the cat tweet with the hurricane. So might need to do that sort of thing by hand.

###loading all of Trump's tweets until 21 December; I'll go and just pull those starting Jan 2017

In [0]:
tweets = pd.read_json("Data/TrumpTweets.json")

In [0]:
# Checking with the tweets (e.g. for 1, https://twitter.com/realDonaldTrump/status/1208494102062477312), these are indeed the UTC time of the tweets
tweets.loc[1, "created_at"]

Timestamp('2019-12-21 21:07:01+0000', tz='UTC')

In [0]:
tweets = tweets[tweets["created_at"] >= dt.datetime(2017,1,1, 0,0,0,0, pytz.UTC)]

In [0]:
tweets.head()

               source  ...               id_str
0  Twitter for iPhone  ...  1208541550424264704
1  Twitter for iPhone  ...  1208494102062477312
2  Twitter for iPhone  ...  1208471806815997952
3  Twitter for iPhone  ...  1208260654571896832
4  Twitter for iPhone  ...  1208248471200899072

[5 rows x 7 columns]

In [0]:
"This has {} tweets".format(len(tweets))

'This has 13778 tweets'

##### So, what do I get when I run TFIDF on the tweets? I actually only care about labeling the digraphs now that I think about it and removing stopwords (There's probably better ways to label tweets, e.g. pulling issues from articles which I'll do below, but let's try!) NOTE: THIS INCLUDES RETWEETS, not sure if should remove or not

In [0]:
stemmer = SnowballStemmer("english")
tweets['stemmed'] = tweets.text.map(lambda x: ' '.join([stemmer.stem(word) for word in x.lower().split(' ')]))

In [0]:
tweets.head(2)

               source  ...                                            stemmed
0  Twitter for iPhone  ...  rt @whitehouse: live: presid @realdonaldtrump ...
1  Twitter for iPhone  ...                            https://t.co/h5bakuoyv2

[2 rows x 8 columns]

In [0]:
count_vectorizer = CountVectorizer(stop_words='english', max_df=.3, ngram_range=(1,3))
count_vectorizer.fit(tweets.stemmed)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=0.3, max_features=None, min_df=1,
                ngram_range=(1, 3), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [0]:
"{} total unique terms identified".format(len(count_vectorizer.vocabulary_))

'293695 total unique terms identified'

In [0]:
vec_counts = count_vectorizer.transform(tweets.stemmed)

In [0]:
counts = np.asarray(vec_counts.sum(axis=0)).ravel().tolist()
counts_df = pd.DataFrame({'phrase': count_vectorizer.get_feature_names(), 'TweetCounts': counts})
for i in range(10):
  print("; ".join(counts_df.sort_values(by='TweetCounts', ascending=False)["phrase"].to_list()[10*i:10*(i+1)]))

https; rt; great; amp; presid; democrat; trump; veri; just; realdonaldtrump
peopl; thank; news; state; big; fake; new; border; want; american
time; today; work; mani; america; make; job; year; vote; republican
countri; fake news; look; media; good; unit; don; nation; like; impeach
day; total; bad; deal; come; country; china; report; onli; dem
win; crime; becaus; know; rt realdonaldtrump; hous; tax; trade; noth; wall
need; way; strong; whi; said; fbi; did; senat; say; meet
russia; thing; love; hunt; help; witch; witch hunt; world; honor; obama
congress; hard; whitehouse; presid trump; law; high; north; support; watch; unit state
ani; campaign; elect; mueller; people; schiff; realli; far; right; years

## So with en/di/trigraphs alone, we get a bunch of words! that's nice (I should remove https, rt, realdonaldtrump as stopwords). No point in throwing in the IDF part now that I think about it more, although I might be wrong about that. Anyway, so here's the part of the list if you want to look

In [0]:
counts_df.set_index("phrase", inplace=True)

In [0]:
counts_df.sort_values(by='TweetCounts', ascending=False)[50:80]

                    TweetCounts
phrase
win                         445
crime                       421
becaus                      421
know                        417
rt realdonaldtrump          406
hous                        394
tax                         389
trade                       386
noth                        381
wall                        380
need                        377
way                         374
strong                      374
whi                         369
said                        367
fbi                         365
did                         365
senat                       365
say                         360
meet                        360
russia                      355
thing                       349
love                        347
hunt                        341
help                        338
witch                       338
witch hunt                  335
world                       331
honor                       324
obama                       323

## So the problem that we're trying to address here is how to actually get the label for each of the tweets. For broad topics, that's actually kind of hard without using some sort of labeling. So let's see what the labels that we get from the GDELT set look like

## Here's 3 months of GDELT V2 Data for a couple publications I'd aggregated into a python pickle before

In [0]:
articles = pd.read_pickle("Data/GDELT_Select_Publications.pkl")

In [0]:
articles.head()

            GKGRECORDID  ...                                             Extras
4      20190905000000-4  ...  <PAGE_LINKS>http://thomsonreuters.com/en/about...
34    20190905000000-34  ...  <PAGE_LINKS>http://thomsonreuters.com/en/about...
87    20190905000000-87  ...  <PAGE_ALTURL_AMP>https://beta.washingtonpost.c...
90    20190905000000-90  ...  <PAGE_ALTURL_AMP>https://beta.washingtonpost.c...
101  20190905000000-101  ...  <PAGE_LINKS>https://www.washingtonpost.com/loc...

[5 rows x 27 columns]

## So these are the publishers in this set, I think it's not what I'll end up with but this is preliminary

In [0]:
articles.SourceCommonName.unique()

array(['reuters.com', 'washingtonpost.com', 'cnn.com', 'nytimes.com',
       'breitbart.com', 'cbsnews.com', 'foxnews.com', 'thehill.com',
       'msnbc.com', 'politico.com', 'nbcnews.com'], dtype=object)

In [0]:
len(articles)

138585

In [0]:
#oh, right, need to convert date to actual dates, just to get sense of what dates are covered here
articles.DATE = articles.DATE.apply(lambda x: str(int(x)))
articles.DATE = pd.to_datetime(articles.DATE)
articles.DATE.min(), articles.DATE.max()

(Timestamp('2019-09-05 00:00:00'), Timestamp('2019-12-08 23:45:00'))

In [0]:
articles.fillna("",inplace=True)

In [0]:
#So I can pull all of the persons and orgs and see what overlaps with what's in the GDELT labels

In [0]:
def strip_people(gdelt_list):
  rslt = []
  for x in gdelt_list.lower().split(";"):
    rslt.append(x.split(",")[0])
  return ";".join(rslt)

In [0]:
articles["persons_stripped"] = articles.V2Persons.map(lambda x: strip_people(x))

In [0]:
articles.head()

            GKGRECORDID  ...                                   persons_stripped
4      20190905000000-4  ...         richard chang;ricardo brito;anthony boadle
34    20190905000000-34  ...  donald trump;cory booker;barack obama;elizabet...
87    20190905000000-87  ...                                     jennifer klein
90    20190905000000-90  ...                                        dana sabraw
101  20190905000000-101  ...    chidi anyanwutaku;fitsum kebede;ernest chrappah

[5 rows x 28 columns]

In [0]:
peopleCount = Counter(";".join(articles.persons_stripped).split(";"))
people_dict = dict(zip(peopleCount.keys(), sourceCount.values()))

In [0]:
tmp = pd.DataFrame([people_dict])

In [0]:
tmp = tmp.T

In [0]:
tmp.columns=["ArticleCounts"]

In [0]:
tmp.sort_values(by="ArticleCounts", ascending=False)[:50]

                     ArticleCounts
donald trump                 27440
joe biden                    12458
                              9464
boris johnson                 6972
los angeles                   6491
elizabeth warren              5296
hunter biden                  4674
nancy pelosi                  4110
bernie sanders                3633
rudy giuliani                 3349
barack obama                  3271
hillary clinton               3096
thomas cook                   2963
mike pompeo                   2958
adam schiff                   2830
pete buttigieg                2738
volodymyr zelensky            2419
kamala harris                 2091
tayyip erdogan                1949
volodymyr zelenskiy           1882
gordon sondland               1649
vladimir putin                1630
mike pence                    1568
john bolton                   1555
marie yovanovitch             1499
jeremy corbyn                 1476
cory booker                   1473
bill clinton                  1423
brendan mcdermid              1411
chizu nomiyama                1397
mick mulvaney                 1386
mark potter                   1339
angela merkel                 1336
lindsey graham                1320
carrie lam                    1247
justin trudeau                1214
amy klobuchar                 1205
robert mueller                1192
benjamin netanyahu            1187
las vegas                     1181
jason neely                   1180
sandra maler                  1178
abu dhabi                     1174
andrew yang                   1126
lisa shumaker                 1124
chris reese                   1118
peter cooney                  1098
tom brown                     1061
jonathan oatis                1050
alison williams               1042

In [0]:
tmp.loc["donald trump", "ArticleCounts"]

27440

In [0]:
print("wait, {} percent of articles are labelled Trump?!?!".format(round(100*tmp.loc["donald trump", "ArticleCounts"]/len(articles),3)))

wait, 19.8 percent of articles are labelled Trump?!?!

In [0]:
pd.concat([tmp, counts_df], axis=1).dropna().sort_values(by="TweetCounts", ascending=False)[:50]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

                  ArticleCounts  TweetCounts
donald trump            27440.0        150.0
adam schiff              2830.0        123.0
white house                59.0         83.0
joe biden               12458.0         69.0
kim jong                   11.0         58.0
robert mueller           1192.0         43.0
chuck schumer             258.0         43.0
hurrican dorian             2.0         35.0
mark levin                 87.0         34.0
bob mueller                43.0         27.0
peter strzok              122.0         26.0
brett kavanaugh           594.0         26.0
el paso                   241.0         25.0
dan bishop                246.0         23.0
michael cohen             270.0         23.0
fox news                    4.0         23.0
bruce ohr                  15.0         22.0
andrew mccabe             149.0         21.0
john bel                   21.0         18.0
john brennan               97.0         14.0
mike pompeo              2958.0         14.0
barack obama             3271.0         14.0
rick scott                113.0         14.0
hunter biden             4674.0         14.0
elizabeth warren         5296.0         14.0
ronald reagan             433.0         14.0
las vega                    8.0         13.0
don mcgahn                253.0         12.0
troy balderson              3.0         11.0
alan dershowitz            91.0         11.0
john mccain               267.0         11.0
brian kemp                123.0         11.0
john bel edward             7.0         11.0
bob corker                 15.0         10.0
paul manafort             387.0         10.0
dan bongino                24.0         10.0
rush limbaugh              55.0         10.0
melania trump             416.0         10.0
steve hilton               32.0         10.0
ron desanti                14.0         10.0
ted cruz                  603.0         10.0
andrew cuomo              268.0         10.0
paul ryan                  73.0          9.0
gregg jarrett              28.0          9.0
rand paul                 312.0          9.0
mitch mcconnell           547.0          9.0
mike pence               1568.0          8.0
jeff flake                 42.0          8.0
john kelly                136.0          8.0
richard burr              104.0          8.0